#page {
	margin-top: 100px;
}

header {
	border-bottom: 1px solid #ccc;
	height: 100px;
	position: relative;
	width: 100%;
	z-index: 3;

	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;

	.logo {
		display: flex;
		flex-direction: column;
		height: 100px;
		justify-content: center;

		transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-webkit-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;

		img {
			transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-webkit-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
		}
	}

	&.transparent-header {
		background: $color__white;

		ul.mega-sub-menu a.mega-menu-link {
			color: $color__white !important;

			&:hover {
				color: $color__white !important;
				text-transform: underline;
			}
		}
	}

	&.orange-header {
		background: $color__red;

		a.mega-menu-link {
			color: $color__white !important;

			&:hover {
				color: $color__white !important;
				text-transform: underline;
			}
		}
	}

	&.green-header {
		background: $color__green;

		a.mega-menu-link {
			color: $color__white !important;

			&:hover {
				color: $color__white !important;
				text-transform: underline;
			}
		}
	}

	&.purple-header {
		background: $color__purple;
		color: $color__white !important;

		a.mega-menu-link {
			color: $color__white !important;

			&:hover {
				color: $color__white!important;
				text-transform: underline;
			}
		}
	}

	&.blue-header {
		background: $color__blue;
		color: $color__white !important;

		a.mega-menu-link {
			color: $color__white !important;

			&:hover {
				color: $color__white !important;
				text-transform: underline;
			}
		}
	}

	.upper-header {
		font-size: 0.875em;
		height: 30px;
		// padding-bottom: 10px;
		text-align: right;

		.fa {
			font-size: 1.25em;
			margin-right: 10px;
		}
	}

	.lower-header {
		margin: 30px 0;
		transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-webkit-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
	}

	.header-title {
		text-align: center;
	}

	&.shrink {
		height: 50px;

		.logo {
			height: 50px;

			img {
				height: 30px;
			}
		}

		.lower-header {
			margin: 5px 0;
		}
	}
}

footer {
	background: $color__dark-grey;
	color: $color__grey;
	padding: 15px 0;

	h2 {
		color: $color__grey;
	}

	a {
		color: $color__white;
		display: block;
		font-size: 14px;
		line-height: 1.5em;
		text-decoration: none;

		&:hover {
			color: $color__yellow;
			text-decoration: underline;
		}

		&:visited {
			color: $color__white;
		}
	}

	.site-copyright {
		font-size: 12px;
		padding-top: 30px;
		text-align: center;
		text-transform: uppercase;

		.fa {
			font-size: 0.5625em;
			margin: 0 20px;
		}
	}
}

.events-archive {
	header {
		background: #4b8944;
	}
}

// ----
// Sass (v3.4.12)
// Compass (v1.0.3)
// ----

/*
 * Mixin to compensate for the height of the admin bar
 * for fixed position elements in WordPress themes
 */

 @mixin admin-sticky-fix( $offset: 0 ) {
 	$narrow-offset: 46px;
 	$wide-offset: 32px;
 	@if $offset != 0 and type-of($offset) == 'number' {
 		$narrow-offset: $narrow-offset + $offset;
 		$wide-offset: $wide-offset + $offset;
 	}
 	.admin-bar & {
 		top: $narrow-offset;
 		@media screen and (min-width: 783px) {
 			top: $wide-offset;
 		}
 	}

 	offset-type: type-of($offset);
 }

 .sticky-header {
 	position: fixed;
 	top: 0;

 	@include admin-sticky-fix;
 }
 .sticky-header-offset {
 	position: fixed;
 	top: 10px;

 	@include admin-sticky-fix(20px);
 }

 .sticky-header-fake-offset {
 	position: fixed;
 	top: 10px;

 	@include admin-sticky-fix(dumb);
 }

 .scrollToTop{
 	width:50px; 
 	height:50px;
 	padding:10px; 
 	text-align:center; 
 	background: whiteSmoke;
 	font-weight: bold;
 	color: #444;
 	text-decoration: none;
 	position:fixed;
 	bottom:50px;
 	right:50px;
 	display:none;
 	background: url('images/arrow-up.png') no-repeat;
 	z-index: 999;

 	&:hover{
 		background: url('images/arrow-up-hover.png') no-repeat;
 		text-decoration: none;
 	}
 }