#page {
	margin-top: 100px;
}

header {
	border-bottom: 1px solid #ccc;
	height: 100px;
	position: relative;
	width: 100%;
	z-index: 3;

	.logo {
		margin-top: 15px;
	}

	&.transparent-header {
		background: $color__white;

		ul.mega-sub-menu a.mega-menu-link {
			color: $color__white !important;

			&:hover {
				color: $color__white !important;
				text-transform: underline;
			}
		}
	}

	&.orange-header {
		background: $color__red;

		a.mega-menu-link {
			color: $color__white !important;

			&:hover {
				color: $color__white !important;
				text-transform: underline;
			}
		}
	}

	&.green-header {
		background: $color__green;

		a.mega-menu-link {
			color: $color__white !important;

			&:hover {
				color: $color__white !important;
				text-transform: underline;
			}
		}
	}

	&.purple-header {
		background: $color__purple;
		color: $color__white !important;

		a.mega-menu-link {
			color: $color__white !important;

			&:hover {
				color: $color__white!important;
				text-transform: underline;
			}
		}
	}

	&.blue-header {
		background: $color__blue;
		color: $color__white !important;

		a.mega-menu-link {
			color: $color__white !important;

			&:hover {
				color: $color__white !important;
				text-transform: underline;
			}
		}
	}

	.upper-header {
		font-size: 0.875em;
		height: 30px;
		// padding-bottom: 10px;
		text-align: right;

		.fa {
			font-size: 1.25em;
			margin-right: 10px;
		}
	}

	.lower-header {
		margin: 30px 0;
	}

	.header-title {
		text-align: center;
	}
}

footer {
	background: $color__dark-grey;
	color: $color__grey;
	padding: 60px 0;

	h2 {
		color: $color__grey;
	}

	a {
		color: $color__white;
		display: block;
		font-size: 0.75em;
		line-height: 2em;
		text-decoration: none;

		&:hover {
			color: $color__yellow;
			text-decoration: underline;
		}

		&:visited {
			color: $color__white;
		}
	}

	.site-copyright {
		font-size: 0.6875em;
		padding-top: 60px;
		text-align: center;
		text-transform: uppercase;

		.fa {
			font-size: 0.5625em;
			margin: 0 20px;
		}
	}
}

.events-archive {
	header {
		background: #4b8944;
	}
}

// ----
// Sass (v3.4.12)
// Compass (v1.0.3)
// ----

/*
 * Mixin to compensate for the height of the admin bar
 * for fixed position elements in WordPress themes
 */

 @mixin admin-sticky-fix( $offset: 0 ) {
 	$narrow-offset: 46px;
 	$wide-offset: 32px;
 	@if $offset != 0 and type-of($offset) == 'number' {
 		$narrow-offset: $narrow-offset + $offset;
 		$wide-offset: $wide-offset + $offset;
 	}
 	.admin-bar & {
 		top: $narrow-offset;
 		@media screen and (min-width: 783px) {
 			top: $wide-offset;
 		}
 	}

 	offset-type: type-of($offset);
 }

 .sticky-header {
 	position: fixed;
 	top: 0;

 	@include admin-sticky-fix;
 }
 .sticky-header-offset {
 	position: fixed;
 	top: 10px;

 	@include admin-sticky-fix(20px);
 }

 .sticky-header-fake-offset {
 	position: fixed;
 	top: 10px;

 	@include admin-sticky-fix(dumb);
 }