.what-is-homes {
	.left-text {
		text-align: left;
	}

	.right-text {
		text-align: right;
	}
}

#homes-city {
	margin-bottom: 30px;
}

.homes-table {

	.table-header {
		background: $color__green;
		color: $color__white;
		text-transform: uppercase;

		td {
			padding: 10px 0;
		}
	}

	tr:not(.table-header) {
		border-bottom: 2px solid $color__green;

		td {
			padding: 10px 0;
		}
	}
}

.contact {

	.contact-form {
		background: $color__green;
		color: $color__white;
		min-height: 700px;
		padding: 2em 3em;
		text-align: left;

		.wpcf7 {
			margin-top: 30px;

			p {
				margin-bottom: 15px;
			}

			input[type="submit"] {
				background: $color__white;		
				border: 2px solid $color__white;
				border-radius: 50px;
				box-shadow: none;
				color: $color__black;
				display: inline-block;
				font-size: 0.75em;
				font-weight: 700;
				letter-spacing: 3px;
				margin: 30px;
				padding: 10px 30px;
				text-decoration: none;
				text-shadow: none;
				text-transform: uppercase;

				&:hover {
					background: transparent;
					color: $color__white;
				}
			}
		}
	}

	.contact-image {
		min-height: 700px;
	}
}