.home {
	#page {
		margin-top: 100px;
	}

	header {
		height: 100px;
	}

	.lower-header {
		display: none;
	}
}

.splash-image {
	background-position: top center; 
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	position: relative;
	text-align: center;
	z-index: 1;

	img {
		display: block;
		position: relative;
		visibility: hidden;
	}

	.gradient-overlay {
		background: rgba(0,0,0,0.3);
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	.text-overlay {
		// height: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		z-index: 2;
	}

	h1 {
		background: rgba(0,0,0,0.5);
		color: $color__white;
		margin-bottom: 0;

		.special {
			font-family: $font__special;
			font-size: 70px;
		}
	}

	.main-video {
		display: block;
		margin: 30px 0;
	}
}

.grid-layout {
	overflow: hidden !important;
	padding: 0 !important;

	.grid-box {
		font-size: 1.5em;
		height: 400px;
		letter-spacing: 5px;
		padding: 20px;
		position: relative;
		text-align: center;

		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	.grid-box-small {
		height: auto;

		img {
			display: block;
			visibility: hidden;
		}

		h4 {
			font-size: 1.2em;
		}

		p {
			font-size: 0.875em;
		}
	}

	.grid-half {
		height: 200px;
		line-height: 200px;
		width: 100%;

		&.grid-pic-up {
			&:after, &:before {
				top: 40%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			&:after {
				border-color: rgba(255, 255, 255, 0);
				border-bottom-color: #ffffff;
				border-width: 20px;
				margin-left: -20px;
			}
			&:before {
				border-color: rgba(255, 255, 255, 0);
				border-bottom-color: #ffffff;
				border-width: 21px;
				margin-left: -21px;
			}
		}
	}

	.grid-pic-up {
		&:after, &:before {
			top: 90%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after {
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #ffffff;
			border-width: 20px;
			margin-left: -20px;
		}
		&:before {
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #ffffff;
			border-width: 21px;
			margin-left: -21px;
		}
	}

	.grid-pic-right {
		&:after, &:before {
			left: 0;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after {
			border-color: rgba(255, 255, 255, 0);
			border-left-color: #ffffff;
			border-width: 20px;
			margin-top: -20px;
		}
		&:before {
			border-color: rgba(255, 255, 255, 0);
			border-left-color: #ffffff;
			border-width: 21px;
			margin-top: -21px;
		}
	}

	.grid-pic-down {
		&:after, &:before {
			top: 0;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after {
			border-color: rgba(255, 255, 255, 0);
			border-top-color: #ffffff;
			border-width: 20px;
			margin-left: -20px;
		}
		&:before {
			border-color: rgba(255, 255, 255, 0);
			border-top-color: #ffffff;
			border-width: 21px;
			margin-left: -21px;
		}
	}

	.featured-sermon {
		i {
			color: $color__white;
			position: absolute;

			&:hover {
				color: $color__red;
			}
		}
	}

	.grey {
		background: $color__light-grey;
	}
}

.featured-events-slider {
	height: 500px;
	overflow: hidden !important;
	padding: 0 !important;
}

.stories {
	background: $color__light-grey;

	.real-story-link {
		&:hover {
			h4 {
				text-decoration: underline;
			}
		}
	}

	.real-story {
		margin-bottom: 30px;

		.text {
			height: 100px;
			overflow: hidden;
			padding: 15px 20px;
			text-align: left;

			h4 {
				color: $color__white;
			}
		}

		.text-1 {
			background: $color__blue;
		}

		.text-2 {
			background: $color__purple;
		}

		.text-3 {
			background: $color__yellow;
		}

		.text-4 {
			background: $color__red;
		}

		.pic {
			background-repeat:no-repeat;
			background-size:cover;
			height: 300px;
		}
	}
}

.local-services,
.international-services {
	display: block;
	margin-top: 30px;
}

.international-services {
	display: none;
}

.locations {
	background: $color__blue;
	color: $color__white;

	.location {
		border-bottom: 1px solid $color__white;
		text-align: left;

		.location-name {
			cursor: pointer;
			position: relative;
			text-align: left;
		}

		.triangle {
			display: inline-block;
			position: absolute;
			right: 0;
			top: 30%;
		}

		.triangle-down {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 15px 10px 0 10px;
			border-color: #ffffff transparent transparent transparent;
		}

		.triangle-up {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 15px 10px;
			border-color: transparent transparent #ffffff transparent;
		}

		.more-info {
			display: none;
			padding-bottom: 30px;

			h5 {
				font-weight: 700;
			}

			.links {
				margin-top: 30px;
				text-align: right;

				a {
					color: $color__white;
					padding-right: 15px;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.locate-now {
	background: $color__yellow;
	padding: 30px 0 !important;
	text-align: left;

	h3 {
		display: inline-block;
		margin: 0;
	}

	a.button {
		margin: 10px 30px;
	}
}