.locations-page {
	margin-top: 60px;

	h3 {
		text-align: center;
	}
}

.services {
	margin: 30px 0;

	.service {
		float: left;
		margin-bottom: 15px;
		width: 50%;
	}

	h5 {
		font-weight: 500;
		letter-spacing: 3px;
		margin: 0;
		text-transform: uppercase;
	}

	a {
		color: $color__red;
		font-size: 0.75em;
		text-transform: uppercase;
	}
}

.locations-map {
	height: 450px;

	#map,
	#single-map {
		height: 450px;
		width: 100%;

		hr {
			background: $color__red;
			margin-bottom: 1em;
		}

		p {
			margin-bottom: 0;
		}
	}
}

.single-location {

	p {
		margin-bottom: 15px;
	}

	.about {
		margin-bottom: 60px;
		margin-top: 60px;
		text-align: center;
	}

	.service-times {
		background: $color__red;
		color: $color__white;
		padding-bottom: 60px;
		padding-top: 60px;

		a {
			color: $color__white;
		}
	}
}

.location-contact {
	background: $color__red;
	
	.orange-bg,
	.grey-bg {
		padding: 3em 5em;

		h3 {
			font-weight: 400;
		}
	}

	.orange-bg {
		background: $color__red;
		color: $color__white;
	}

	.grey-bg {
		background: $color__light-grey;
	}

	img {
		display: block;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
}