.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.age-contact {
	background: $color__green;
	color: $color__white;
	padding-bottom: 0 !important;
}

a.button,
{
	border: 2px solid;
	border-radius: 50px;
	color: $color__white;
	display: inline-block;
	font-size: 0.75em;
	letter-spacing: 3px;
	margin: 30px;
	padding: 10px 30px;
	text-decoration: none;
	text-transform: uppercase;

	&.blue {
		background: $color__blue;
		border-color: $color__blue;

		&:hover {
			background: $color__white;
			border-color: $color__blue;
			color: $color__blue;
		}
	}

	&.green {
		background: $color__green;
		border-color: $color__green;

		&:hover {
			background: $color__white;
			border-color: $color__green;
			color: $color__green;
		}
	}

	&.purple {
		background: $color__purple;
		border-color: $color__purple;

		&:hover {
			background: $color__white;
			border-color: $color__purple;
			color: $color__purple;
		}
	}

	&.red {
		background: $color__red;
		border-color: $color__red;

		&:hover {
			background: transparent;
			border-color: $color__white;
			color: $color__white;
		}
	}

	&.no-red {
		// background: $color__red;
		// border-color: $color__red;

		&:hover {
			background: $color__red;
			border-color: $color__red;
			color: $color__white;
		}
	}

	&.white {
		background: $color__white;
		border-color: $color__white;
		color: $color__red;

		&:hover {
			background: transparent;
			border-color: $color__white;
			color: $color__white;
		}
	}

	&.black {
		background: $color__black;
		border-color: $color__black;
		color: $color__white;

		&:hover {
			background: transparent;
			border-color: $color__black;
			color: $color__black;
		}
	}
}

section:not(.widget) {
	display: block;
	overflow: auto;
	padding: 60px 0;
	text-align: center;
}

.slider-img {
	height: 500px;
	object-fit: fill;
	width: 100%;
}

.multi-tab {
	background: $color__light-grey;
	padding: 20px 0;

	.container {		
		display: flex;
		justify-content: space-evenly;
	}

	.tab-link {
		cursor: pointer;
		font-size: 0.9375em;
		padding-right: 30px;
		text-transform: uppercase;

		&:hover,
		&.current-link {
			text-shadow: 1px 0px 0px black;
		}
	}
}

.tab-content {
	display: none;
}

.current-tab {
	display: block;
}

.featured-story,
.featured-video {
	margin-top: 30px;

	.read-more {
		margin-left: 0;
	}

	.featured-left {
		p {
			margin-bottom: 10px;
		}
	}
}

.find-homes {
	background: $color__light-grey;
}

.stories-container {
	margin-top: 30px;

	.search-stories {
		margin-bottom: 30px;

		input,
		select {
			margin-right: 30px;
		}
	}

	.individual-story {
		margin-bottom: 30px;

		h5 {
			line-height: 1.3em;
			margin-bottom: 10px;

			a {
				color: $color__purple;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.pic {
			height: 300px;
		}

		.text {
			background: $color__light-grey;
			height: 150px;
			overflow: hidden;
			padding: 15px;

			.story-excerpt {
				height: 180px;
				overflow: hidden;
				padding: 15px 0;
			}
		}
	}
}

.single-story {
	text-align: left;

	p {
		margin-bottom: 15px;
	}
}

.videos-container {
	margin-top: 30px;

	.search-videos {
		margin-bottom: 30px;

		input,
		select {
			margin-right: 30px;
		}
	}

	.individual-video {
		margin-bottom: 30px;

		h5 {
			line-height: 1.3em;
			margin-bottom: 10px;

			a {
				color: $color__blue;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.pic {
			height: 250px;

			&:hover {
				opacity: 0.8;
			}
		}

		.video-pic {
			position: relative;

			.play-icon {
				color: #fff;
				position: absolute;
				left: 150px;
				top: -150px;
			}
		}

		.text {
			background: $color__light-grey;
			height: 120px;
			overflow: hidden;
			padding: 15px;

			.video-excerpt {
				height: 180px;
				overflow: hidden;
				padding: 15px 0;
			}
		}
	}
}

.watch-fancybox {
	max-width: 1000px;

	/* Custom transition - fade from top*/
	opacity: 0;
	transform: translateY(-50px);
	transition: all .3s;

	.col-sm-12 {
		margin: 0 auto;
		text-align: center;
	}
}

.fancybox-slide--complete .watch-fancybox {
	opacity: 1;
	transform: translateY(0);
}

.contact-us {
	padding-top: 60px;
	padding-bottom: 60px;
}