.welcome-message {
	text-align: left !important;
}

.what-to-expect {
	background: $color__light-grey;

	.expect-box {
		margin: 50px 0;

		h4 {
			text-transform: uppercase;
		}

		.expect-icon {
			margin-bottom: 30px;
			width: 100px;
		}
	}
}

.faqs {
	background: $color__grey;
	color: $color__white;

	h2 {
		margin-bottom: 1em;
	}

	.question {
		border-bottom: 1px solid $color__white;	
		cursor: pointer;
		margin: 30px 0;
		position: relative;
		text-align: left;

		h3 {
			display: inline-block;
		}

		.triangle {
			display: inline-block;
			position: absolute;
			right: 0;
			top: 30%;
		}

		.triangle-down {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 15px 10px 0 10px;
			border-color: #ffffff transparent transparent transparent;
		}

		.triangle-up {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 15px 10px;
			border-color: transparent transparent #ffffff transparent;
		}
	}

	.answer {
		display: none;
		text-align: left;
	}
}

.sub-menu {
	align-items: flex-start;
	display: flex;
	justify-content: center;
	margin: 30px 0;

	span {
		cursor: pointer;
		margin: 0 20px;

		&:hover {
			text-decoration: underline;
		}
	}
}

.mission, .purpose, .sof {
	display: none;
}

.believe-text {
	background: $color__light-grey;
	color: $color__grey;
	padding: 50px !important;
}

.believe-pic {
	img {
		display: block;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
}

.kenneth-chin {
	margin: 60px 0;
}

.profile {
	border: 1px solid $color__white;
	padding: 0 !important;

	.pic {
		height: 300px;
		width: 100%;
	}

	.short-bio {
		background: $color__red;
		color: $color__white;
		padding: 20px;

		h4 {
			margin: 0;
			text-transform: uppercase;
		}

		h5 {
			margin-bottom: 15px;
		}

		i {
			margin-right: 15px;
		} 

		a {
			color: $color__white;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}