//smaller than ipad landscape
@media (max-width: 1024px) {
	.splash-image {
		background-size: contain;
	}
}

//ipad portrait
@media (max-width: 768px) {
	.splash-image {
		h1 {			
			.special {
				font-size: 50px;
			}
		}

		.button {
			margin: 30px 0;
		}
	}

	.multi-tab .container {
		flex-flow: column;
	}
}

//smaller than ipad portrait
@media (max-width: 767px) {
	section:not(.widget) {
		padding: 30px 0;
	}

	a.button {
		font-size: 12px;
		margin: 15px;
	}

	.homes-table {
		font-size: 12px;
	}

	.services {
		h5 {
			letter-spacing: 0;
		}
	}
}