//smaller than ipad landscape
@media (max-width: 1024px) {

	.slick-slider {
		.image {
			background-size: contain !important;
			background-position: top !important;
			min-height: 75vh;
			// min-height: 45vh;
		}
	}

	.splash-image {
		// background-size: contain;
		height: 300px;
	}

	.grid-box.featured-sermon {
		background-size: cover !important; 
		background-position: center center !important;
	}

	.grid-box {
		img {
			display: none;
		}
	}
}

@media (max-width: 992px) and (min-width:769px) {
	.mobile-header {
		display: none !important;
	}
}

//ipad portrait
@media (max-width: 768px) {
	.home {
		#page {
			margin-top: 0;
		}

		.mobile-header {
			display: none;
		}
	}

	#page {
		margin-top: 0;
	}

	.events-archive {
		.mobile-header {
			background: #4b8944 !important;
		}
	}

	.mobile-header {
		height: 80px;
		line-height: 80px;
		text-align: center;

		&.transparent-header {
			background: $color__white;
		}

		&.orange-header {
			background: $color__red;
			color: $color__white !important;
		}

		&.green-header {
			background: $color__green;
			color: $color__white !important;
		}

		&.purple-header {
			background: $color__purple;
			color: $color__white !important;
		}

		&.blue-header {
			background: $color__blue;
			color: $color__white !important;
		}
	}

	.hide-on-mobile {
		display: none;
	}

	.splash-image {
		h1 {			
			.special {
				font-size: 50px;
			}
		}

		.button {
			margin: 30px 0;
		}
	}

	.multi-tab .container {
		flex-flow: column;
	}

	#wprmenu_bar {
		border-bottom: 1px solid $color__grey;
		height: 50px !important;
		text-align: center !important;

		.hamburger {
			margin-top: 0 !important;
		}

		.menu_title {
			top: -3px !important;
		}

		img {
			height: 40px !important;
		}
	}

	.stories {
		.real-story {
			.pic {
				background-position: center;
				height: auto;
				min-height: 200px;
			}
		}
	}
}

//smaller than ipad portrait
@media (max-width: 767px) {
	.splash-image {
		h1 {
			font-size: 24px;
			.special {
				font-size: 30px;
			}
		}

		.button {
			font-size: 10px;
			margin: 10px 5px;
			padding: 5px 10px;
		}
	}

	section:not(.widget) {
		padding: 30px 0;
	}

	a.button {
		font-size: 12px;
		margin: 15px;
	}

	.homes-table {
		font-size: 12px;
	}

	.services {
		h5 {
			letter-spacing: 0;
		}
	}

	.grid-layout {
		.grid-box {
			background: $color__red;
			color: $color__white;
			height: 300px;

			a {
				color: $color__white;
			}
		}
	}

	.grid-box.featured-sermon {
		background-size: contain !important; 
		background-position: unset !important;
	}

	.slick-slider {
		.image {
			background-size: contain !important;
			background-position: top !important;
			min-height: 30vh;
		}
	}

	.single-location {
		.location-photo {
			background-size: cover !important;
			background-position: top !important;
			min-height: 200px;
		}

		.about {
			margin-bottom: 30px;
			margin-top: 30px;
			text-align: center;
		}
	}
}