//smaller than ipad landscape
@media (max-width: 1024px) {
	.splash-image {
		// background-size: contain;
		height: 300px;
	}

	.grid-box.featured-sermon {
		background-size: cover !important; 
		background-position: center center !important;
	}

	.grid-box {
		img {
			display: none;
		}
	}
}

//ipad portrait
@media (max-width: 768px) {
	.splash-image {
		h1 {			
			.special {
				font-size: 50px;
			}
		}

		.button {
			margin: 30px 0;
		}
	}

	.multi-tab .container {
		flex-flow: column;
	}
}

//smaller than ipad portrait
@media (max-width: 767px) {
	.splash-image {
		h1 {
			font-size: 24px;
			.special {
				font-size: 30px;
			}
		}

		.button {
			font-size: 10px;
			margin: 10px 5px;
			padding: 5px 10px;
		}
	}

	section:not(.widget) {
		padding: 30px 0;
	}

	a.button {
		font-size: 12px;
		margin: 15px;
	}

	.homes-table {
		font-size: 12px;
	}

	.services {
		h5 {
			letter-spacing: 0;
		}
	}

	.grid-layout {
		.grid-box {
			background: $color__red;
			color: $color__white;
			height: 300px;

			a {
				color: $color__white;
			}
		}
	}

	.grid-box.featured-sermon {
		background-size: contain !important; 
		background-position: unset !important;
	}

	.slick-slider {
		.image {
			background-size: contain !important;
			min-height: 300px;
		}
	}
}